<div class="container">
  <div class="col-md-3">
   <%= image_tag @listing.image.url(:medium) %>
     </div>
  <div class="col-md-9">
     <div class="thumbnail">
    <h3><%= @listing.name %></h3>
    <p><%= number_to_currency(@listing.price) %></p>
    <p><%= @listing.address %></p>
    <p><%= @listing.home_type %></p>
    <p><%= @listing.maximum_quests%></p>
    <p> <%= @listing.availability_from %></p>
    <p><%= @listing.availability_to%></p>
    <p><%= @listing.room_type %></p>
    <%= link_to "Book Now",new_listing_book_path(@listing), class: "btn btn-primary" %>
</div>
 
</div>
<% if (user_signed_in?) && (current_user == @listing.id)%>
<%= link_to 'Edit', edit_listing_path(@listing), class:"btn btn-link" %> 
<% end %>|
<%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-link" %>

<%= link_to 'Back', listings_path, class:"btn btn-link" %>

    <iframe 
        width="300" 
        height="230"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAppOxX9TEiVNDcgi3Rytl13ysXh1buLD8&q=<%= @listing.address.parameterize %>&zoom=14">
        </iframe>
</div>



