<div  class="container">
    <h1>Booked</h1>
        <% @books.each do |book| %>
        <div  class="col-md-4">
     
       <%= render ''
             <p><%= book.checkin %></p>
            <p><%= book.checkout %></p>
            <p><%= book.no_of_guests %></p>
        <%= link_to 'Show', book,class: "btn btn-link" %>
        <%= link_to 'Edit', edit_book_path(book),class: "btn btn-link" %>
        <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' ,class: "btn btn-link" } %>
             <% end %>
            </div>
       
</div>
<div class="container">
    <% if user_signed_in? %>
    <%= link_to 'New Book',new_book_path %>
    <% end  %>
</div>

