<footer class="footer">
   <div class="container">
    <div class="col-md-2">
      <h4>What we do</h4>
      <p style="color: #808080;">
      Our mission is to be the best place to start advertising your business.<br> 
      We provide smarter search options and powerful data about business advertising.<a><%= link_to "more....", about_path %></a> 
      </p>
    </div>
    
    <div class="col-md-3">
      <h4>Quick Links</h4>
      <nav>
        <ul class="navbar-left">
         <li><%= link_to "About Us",   about_path %></li> 
         <li><%= link_to "Contact Us", contact_path %></li>
        </ul>
      </nav>
    </div>
    
    <div class="col-md-2">
      <h4>Follow us on Social Media</h4>
      <ul class="navbar">
      <li><%= link_to image_tag("default-facebook.png", alt: ""), 'http://www.facebook.com/', id: "" %></li>
      <li><%= link_to image_tag("Linkedin_Icon.png", alt: ""),'http://www.linkedin.com/', id: "" %></li>
      <li><%= link_to image_tag("default-twitter.png", alt: ""), 'http://www.twitter.com/', id: "" %></li>
     </ul>
    </div>
    
    <div class="col-md-4">
      <h4>Latest updates from our twitter page</h4>
      <div>
       <a class="twitter-timeline" width="350" height="300" href="https://twitter.com/airbnb"></a>
       <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>    
      </div>
    </div>
   </div>
 
   <div class="container">
      <small style="color: #808080;">
      &copy; Copyright 2017 | Designed by Umbee | <%= link_to "Contact Us", contact_path %>
      </small>
   </div>
</footer>
     